{% use './index-data.twig' %}

<header>This is the header from <b>index.twig</b></header>
<br>
<main style="text-align: center">
    This is a footer from <b>index-data.twig</b>

    <h1>{{ data.header }}</h1>
    <p>{{ data.paragraph }}</p>
    <br>

    {{ data.ps }}

    <br>
    <br>

    <i>{{ data.author }}</i>

</main>

<br>
<footer>
    This is a footer from <b>index.twig</b>
</footer>
